/* https://blog.logrocket.com/flexible-layouts-without-media-queries/ */
* {
  --fluid-size: var(--min-font-size) * 1px + (var(--max-font-size) - var(--min-font-size)) * ((100vw - 420px) / (1200 - 420));
}

.grid {
  --gap: 0px;
  display: grid;
  gap: var(--gap);

  /* Using clamp() */
  grid-template-columns:
    repeat(
      auto-fit,
      minmax(
        clamp(
          100% - var(--gap),
          (50rem - 100%) * 999,
          100%),
        1fr
      )
    );
}

.item {
  padding: 3rem 8rem;
  text-align: center;
}

.logo {
  width: 7rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

h1, h2 {
  font-weight: 800;
  margin-bottom: 0.5rem;
}

h1, h2, p, li {
  font-size:
    clamp(
        var(--min-font-size) * 1px,
        var(--fluid-size),
        var(--max-font-size) * 1px
    );
}

h1 {
  --min-font-size: 30;
  --max-font-size: 60;
}

h2 {
  --min-font-size: 24;
  --max-font-size: 48;
}

p {
  --min-font-size: 18;
  --max-font-size: 36;
}

li {
  --min-font-size: 14;
  --max-font-size: 28;
}

a {
  color: #000;
}

a:hover {
  color: #444;
}
