/* https://blog.logrocket.com/flexible-layouts-without-media-queries/ */
* {
  --fluid-size: var(--min-font-size) * 1px + (var(--max-font-size) - var(--min-font-size)) * ((100vw - 420px) / (1200 - 420));
}

.grid {
  --gap: 0px;
  display: grid;
  gap: var(--gap);

  /* Using clamp() */
  grid-template-columns:
    repeat(
      auto-fit,
      minmax(
        clamp(
          100% - var(--gap),
          (50rem - 100%) * 999,
          100%),
        1fr
      )
    );
}

.item {
  padding: 3rem;
  text-align: center;
}

.item img {
  max-width: 80%;
}

.logo {
  width: 7rem;
}

body {
  padding: 0;
  margin: 0;
  background-color: #d9bb6a;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

h1, h2 {
  font-weight: 800;
  margin-bottom: 0.5rem;
}

h1, h2, p, li {
  font-size:
    clamp(
        var(--min-font-size) * 1px,
        var(--fluid-size),
        var(--max-font-size) * 1px
    );
}

h1 {
  --min-font-size: 40;
  --max-font-size: 60;
}

h2 {
  --min-font-size: 24;
  --max-font-size: 36;
}

p {
  --min-font-size: 18;
  --max-font-size: 30;
}

li {
  --min-font-size: 14;
  --max-font-size: 24;
}

a {
  color: #e1d8b1;
}

a:hover {
  color: #fff2cc;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  width: 40px;
}

/* FAQ - adapted from https://codeconvey.com/html-expand-collapse-text-without-javascript/ */
.accordion > input[name="collapse"] {
  display: none;
}

.accordion .content {
  overflow: hidden;
  height: 0;
  transition: 0.5s;
}

.accordion label {
  cursor: pointer;
}

.accordion .handle label:before {
  content: "~";
  display: inline-block;
  margin-right: 10px;
  line-height: 1.556em;
  vertical-align: middle;
  transition: 0.4s;
}

.accordion > input[name="collapse"]:checked ~ .handle label:before {
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.4s;
}

.accordion > input[name="collapse"]:checked ~ .content {
  height: unset; /* how to animate variable height? */
  transition: height 0.5s;
}
